<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<body>
<div class="col-md-12">
    <h1>D-Unit</h1>
	<div class="col-md-4">
		<h2>Links</h2>
  	  	<ul>
        <li><a href="https://docs.google.com/spreadsheets/d/16pJsCOf6iFBcLni1bQoURAc0v6va_FJ80QiidIY4DZE/edit?usp=sharing">Kontaktinfo</a></li>
        <li><a href="https://softwarefactoryntnu.slack.com/">Slack</a></li>
        <li><a href="trackingtime.co">Trackingtime.co</a></li>
        <li><a href="https://drive.google.com/open?id=0BxAZhqwyd7JkOHpQUng5UENKblk"> Google Drive</a></li>
        <li><a href="https://github.com/SoftwareFactoryNTNU">GitHub</a></li>
        </ul>
        <h2>Retrospective</h2>
        <ul>
        <li><a href="https://docs.google.com/document/d/1snD11tkBtpCWq4P3QNW0pXRdug9FzGB8THWd3BkzB9Y/pub">09.02</a></li>
        </ul>
        <h2>Meeting Refs</h2>
        <ul>
            <li><a href="https://docs.google.com/document/d/1r2dm_4lCZK9dhHOzMjw5NSosL9yuzZ5krlERM1RglpM/pub">Meeting with Anniken 1</a></li>

        </ul>   
	</div>
	<div class="col-md-4">
		<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=1lce3irv1pfdbs14cli553a844%40group.calendar.google.com&amp;color=%231B887A&amp;src=ug06f3oqhbl03totkgj2og0vas%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=Europe%2FOslo" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
</body>
